rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /globals/{document=**} {
    	allow read: if request.auth != null
    }
    match /organizations/{document} {
    	allow create: if request.auth != null
    }
    match /customers/{uid} {
    	allow create: if request.auth.uid == uid
    }
    match /customers/{uid}/checkout_sessions/{document} {
    	allow read, write: if request.auth.uid == uid
    }
  	match /organizations/{org}/{document=**} {
      allow read: if request.auth.token.organization == org;
    	allow read, write: if request.auth.token.role == 'Admin' && request.auth.token.organization == org;      
    }    
    match /organizations/{org}/route/{document=**} {
    	allow read, write: if request.auth.token.organization == org
    }
    match /organizations/{org}/service_logs/{document=**} {
    	allow read, create: if request.auth.token.organization == org
    }
    match /organizations/{org}/vehicle/{document=**} {
    	allow read, write: if request.auth.token.organization == org
    } 
    match /customers/{uid} {
      allow read: if request.auth.uid == uid;

      match /checkout_sessions/{id} {
        allow read, write: if request.auth.uid == uid;
      }
      match /subscriptions/{id} {
        allow read: if request.auth.uid == uid;
      }
      match /payments/{id} {
        allow read: if request.auth.uid == uid;
      }
    }

    match /products/{id} {
      allow read: if true;

      match /prices/{id} {
        allow read: if true;
      }

      match /tax_rates/{id} {
        allow read: if true;
      }
    }
  }
}