.driverGridContainer {
    display: grid;
    grid-template-columns: 40% 60%;
}

.adminGridContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}

.leftSide {
    grid-column-start: 1;
}

.rightSide {
    grid-column-start: 2;
}

.scrollable::-webkit-scrollbar {
    display: none;
}


.scrollable {
    overflow: scroll;
}